/* style.css */

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    background: #f4f4f9;
}

.content{
    margin: 15px;
}

h1{
    color: #007bff;
}


.default-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.b-primary {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 15px 25px;
    font-size: 1.0rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.b-primary:hover {
    background: #055ebd;
}

.b-primary:active {
    background: #004f9b;
    transform: scale(0.96);
}

.b-secondary {
    background: #888888;
    color: #fff;
    border: none;
    padding: 15px 25px;
    font-size: 1.0rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.b-secondary:hover {
    background: #767676;
}

.b-secondary:active {
    background: #535353;
    transform: scale(0.96);
}

.img-upload {
    background: #d9f9f7;
    color: #000000;
    border: none;
    padding: 12px;
    font-size: 1.0rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header{
    margin: 0px;
    padding: 2px;
    padding-left: 25px;
    /* background-color: rgb(222, 247, 240); */
    /* border: 0.3px solid #8b8b8b; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 55px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #b9b9b9;
}

.small-text{
    font-size: 0.8rem;
    color: #777;
    margin-top: 5px;
    text-align: center;
}